body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
  }
/* begin login */


.card-container.cardi {
    max-width: 350px;
    padding: 40px 40px;
}

.cardi {
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 50px;
}

.logo-img {
    width: 96px;
    height: 96px;
    margin: 0 auto 30px;
    display: block;
    border-radius: 20px;
}

.form-signin #inputEmail,
.form-signin #inputPassword {
    direction: ltr;
    height: 44px;
    font-size: 16px;
}

.form-signin input[type=email],
.form-signin input[type=password],
.form-signin input[type=text],
.form-signin button {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    z-index: 1;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin .form-control:focus {
    border-color: rgb(104, 145, 162);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
}

/* End login */


.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.btn-primary {
    color: #fff;
    background-color: #FF9100 !important;
    border-color: #FF9100 !important;
    border-radius: 25px !important;
  }
  
  .btn-primary:hover {
    color: #fff;
    background-color: #dc8109 !important;
    border-color: #dc8109 !important;
  }
  
  .btn-outline-primary {
    color: #FF9100 !important;
    border-color: #FF9100!important;
}

.btn-outline-primary:hover {
    color: #fff !important;
    background-color: #FF9100!important;
    border-color: #FF9100!important;
}


footer {
    display: block;
    background: #fff;
    position: sticky;
    bottom: 0;
    width: 100%;
}

.mb-b {
    margin-bottom: 1rem!important;
}

.footer {
    background-color: #f5f5f5;
}

.b_b {
margin-bottom: 15px;
}